# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.lib-dotnet-gtfs-client.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea

### DotnetCore ###
# .NET Core build folders
bin/
obj/
**/bin/



# Common node modules locations
/node_modules
/wwwroot/node_modules
